<!DOCTYPE html>
<head>
    {% include "base_head.html" %}
	{% block css_block %} 
    {% endblock %}
    {% block add_css_block %}
    {% endblock %}
</head>
<body>
    <!-- <div id="wrapper"> -->

    <div>
        
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            {% include 'navbar_top.html'%} 
            {% include 'navbar_side.html'%}
        </nav>

        <div id="page-wrapper">
            {% block page_block %} 
            {% endblock %}
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    {% include 'format_js.html' %} 
    {% block include_js_block %} 
    {% endblock %} 
    {% block javascript_block %} 
    {% endblock %}
    
    <script>
        
        {% if (form and form.action) %}
            var CUR_PAGE = "{{form.action}}";
        {% endif %}
        
        {% if user %}
            var CUR_USER_ID = {{user.user_id}};
            var CUR_GROUP_ID = {{user.group_data._entity_id}};
            {% if user.team_data != None %}
                var CUR_TEAM_ID = {{user.team_data._entity_id}}
            {% else %}
                var CUR_TEAM_ID = null;
            {% endif %}
        {% endif %}
    </script>

</body>

</html>