<h3><p class="help-block text-center">Basic options</p></h3>
<div class="form-horizontal">
    <div class="form-group">
        
        <label for="close_delivery_postal" class="col-md-4 control-label">Postal Code</label>
        <select id="close_delivery_postal" class="col-md-7"></select>
    </div>
    
    <div class="form-group">
        <label for="close_vehicle_id" class="col-md-4 control-label"><abbr title="Default value is 'example' if no column is selected">Vehicle</abbr></label>
        <select id="close_vehicle_id" class="col-md-7"></select>
    </div>
</div>
