{% if (not field.create_attr or field.create_attr.find('excluded')==-1) %}
    {% if (field.create_attr and field.create_attr.find('repeated')!=-1) %}
       <div id="repeatFieldsWrap">  
           <input type='hidden' value='{{field.prop_name}}' id='repeatFieldName'>
    {% else %}
           <div class="form-group">
    {% endif %}
    
	{% if (not field.create_attr or field.create_attr.find('hidden')==-1) and field.label and field.input_name != 'select-multiple' %}

        <label for= "{{field.prop_name}}"
			class="col-md-3 col-md-offset-1 control-label">
			{{field.label}}
            {% if (field.create_attr and field.create_attr.find('required')!=-1) %}
                <div class='text-danger'> * </div>
            {% endif %}
		</label>
    {% endif %}
               
		{% if field.input_name == 'input' %}
			<input class="col-md-7"
				name="{{field.prop_name}}"  
                id="{{field.prop_name}}" 
				{% if field.default_value %}
				   value="{{field.default_value}}"
				{% endif %}
				{% if field.input_type %}
				   type="{{field.input_type}}"
				{% endif %}
				{%if field.place_holder %}
					placeholder = "{{field.place_holder}}"
				{% endif %}
				{% if field.data_error %}
					data-error = "{{field.data_error}}"
				{% endif %}
				{% if field.create_attr %}
					{{field.create_attr}}
				{% endif %}
                   
                {% if (field.create_attr and field.create_attr.find('datalist')!= -1) %}
                   list="{{field.prop_name}}_datalist"
                {%endif %}
			>
            {% if (field.create_attr and field.create_attr.find('datalist')!= -1) %}
               <datalist id="{{field.prop_name}}_datalist">
               </datalist>
            {% endif %}
		  {% endif %}
		
		{% if (field.input_name == 'select' or field.input_name == 'select-multiple') %}
               
            {% if field.input_name == 'select' %}
			     <select name="{{field.prop_name}}" id="{{field.prop_name}}" class="col-md-7" 
            {% elif field.input_name == 'select-multiple' %}
                  <select multiple name="{{field.prop_name}}" id="{{field.prop_name}}" class="col-md-7"
            {% endif %}
            
            {% if field.create_attr %}
				{{field.create_attr}}
            {% endif %}
            >
            {% if field.input_name == 'select' %}
				 <option value=>Please choose the option</option>
            {% endif %}
				{% if field.verbose_name == 'country_option'%}
					{% include 'country_option.html' %}
				{% elif field.verbose_name == 'timezone_option' %}
					{% include 'timezone_option.html' %}
                {% else %}
					{% for choice in field.choices %}
                        {% if choice.text %}
                            <option value="{{choice._entity_id}}">{{ choice.text }}</option>
                        {% else %}
                            {% if field.default_value and field.default_value == choice %}
				                <option value="{{choice}}" selected>{{ choice }}</option>
                            {% else %}
                                <option value="{{choice}}">{{ choice }}</option>
                            {% endif %}                            
                        {% endif %}
					{% endfor %}
               
				{% endif %}
			</select>
		{% endif %}
		
		{%if field.input_name == 'textarea' %}
			<textarea class="col-md-7"
				name="{{field.prop_name}}" 
                id="{{field.prop_name}}" 
				{% if field.default_value %}
				   value="{{field.default_value}}"
				{% endif %}
					  
				{%if field.place_holder %}
					placeholder = "{{field.place_holder}}"
				{% endif %}
				{% if field.data_error %}
					data-error = "{{field.data_error}}"
				{% endif %}
				{% if field.create_attr %}
					{{field.create_attr}}
				{% endif %}
				></textarea>
		{% endif %}

        {% if (field.create_attr and 
               field.create_attr.find('repeated')!=-1 and 
               field.create_attr.find('hidden')==-1 and
               field.input_name != 'select-multiple' )
               %}
           <input class="addFieldBtn btn btn-link col-md-7 col-md-offset-4" 
                  value = "Add More {{field.label}}" >
        {% endif %}
		
		<div class="help-block with-errors col-md-9 col-md-offset-3"></div>
			
	</div>
    {% if (field.create_attr and 
               field.create_attr.find('upload_map')!=-1) 
       %}

        <div class="form-group">
            <button  type="button" class="btn btn-lg btn-primary col-md-4 col-md-offset-1 upload_{{field.prop_name}}" >Upload {{field.label}}</button>
            <button  type="button" class="btn btn-lg btn-primary col-md-4 col-md-offset-2 map_{{field.prop_name}}">Select {{field.label}} on Map</button>
        </div>

    {% endif %}

    {% if (field.create_attr and 
               field.create_attr.find('ajax_search_address')!=-1) 
       %}

        <div class="form-group">
            <button  type="button" class="btn btn-primary col-md-3 col-md-offset-3" onclick=ajax_search.call(this)>Search Address</button>
            <button  type="button" class="btn btn-primary col-md-3 col-md-offset-2">Check on Map</button>
        </div>

    {% endif %}




{% endif %}