{% for field in form.field_list %}
{% if (not field.create_attr or field.create_attr.find('excluded')==-1) %}
    <div class="form-group">
	{% if (not field.create_attr or field.create_attr.find('hidden')==-1) and field.label%}
        <label for= "{{field.prop_name}}"
			class="col-md-3 col-md-offset-1 control-label">
			{{field.label}}
		</label>
    {% endif %}
		
		{% if field.input_name == 'input' %}
			<input class="col-md-7"
				name ="{{field.prop_name}}"
				{% if field.value %}
				   value="{{field.value}}"
				{% endif %}
				{% if field.min %}
				   min="{{field.min}}"
				{% endif %}
				{% if field.max %}
				   max="{{field.max}}"
				{% endif %}
				{% if field.input_type %}
				   type="{{field.input_type}}"
				{% endif %}
				{%if field.place_holder %}
					placeholder = "{{field.place_holder}}"
				{% endif %}
				{% if field.data_error %}
					data-error = "{{field.data_error}}"
				{% endif %}
				{% if field.create_attr %}
					{{field.create_attr}}
				{% endif %}
			>
		{% endif %}
		
		{% if field.input_name == 'select' %}
			<select name="{{field.prop_name}}">
				 <option>Please choose the option</option>
				{% if field.verbose_name == 'country_option'%}
					{% include 'country_option.html' %}
				{% elif field.verbose_name == 'timezone_option' %}
					{% include 'timezone_option.html' %}
				{% else %}
					{% for choice in field.choices %}
                        {% if choice.text %}
                            <option value="{{choice._entity_id}}">{{ choice.text }}</option>
                        {% else %}
				            <option value="{{choice}}">{{ choice }}</option>
                        {% endif %}
					{% endfor %}
				{% endif %}
			</select>
		{% endif %}
		
		{%if field.input_name == 'textarea' %}
			<textarea class="col-md-7"
				name="{{field.prop_name}}"
				{% if field.value %}
				   value="{{field.value}}"
				{% endif %}
					  
				{%if field.place_holder %}
					placeholder = "{{field.place_holder}}"
				{% endif %}
				{% if field.data_error %}
					data-error = "{{field.data_error}}"
				{% endif %}
				{% if field.create_attr %}
					{{field.create_attr}}
				{% endif %}
				{% if field.rows %}
					rows = "{{field.rows}}" 
				{% endif %}
				></textarea>
		{% endif %}
		
		
		<div class="help-block with-errors col-md-9 col-md-offset-3"></div>
			
	</div>
{% else %}
    
{% endif %}

{% endfor %}