<!-- DataTables JavaScript -->
<!-- <script defer src="/js/jquery.dataTables.min.js"></script>  -->
<!-- <script defer src="/js/dataTables.bootstrap.min.js"></script> -->

<script defer type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script defer type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script defer type="text/javascript" src="//cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.js"></script>
<!--<script defer type="text/javascript" src="/js/lib/dataTables.editor.min.1.4.2.js"></script>-->

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.core.min.js"></script>
<script defer src="/js/lib/Export2Excel.js"></script>
<script defer src="/js/route_xlsx.js"></script>

<script defer type="text/javascript" src="/js/route_dataTable.js"></script>






