
<!-- <script defer src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script> -->
<!-- <script defer src="/js/leaflet.js"></script> -->
<script defer type='text/JavaScript' src='http://www.onemap.sg/API/JS?accessKEY={{ onemap_key }}&v=3.10&type=full&projSys=WGS84'></script>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

<!-- <script defer src="/js/lib/leaflet-routing-machine.js"></script> -->
<!--<script defer src="/js/lib/Control.Geocoder.js"></script> -->

<script defer src="/js/lib/svy21.js"></script>
<script defer src="/js/lib/geocoder.min.js"></script>

<script defer src="/js/route_map_provider.js"></script>
<!--  wrapper class to use leaflet and plugins -->
<script defer src="/js/route_leaflet_osm.js"></script>

<script defer src="/js/route_map_utils.js"></script>

<script defer src="/js/route_db_model.js"></script>


