{% if (user.role_data.access_level == 50) %}
    {% set user_url = '/team_admin' %}
{% elif user.role_data.access_level == 100 %}
    {% set user_url = '/group_admin' %}
{% elif user.role_data.access_level == 500 %}
    {%set user_url = '/sys_admin' %}
{% elif user.role_data.access_level == 1000 %}
    {%set user_url = '/super_admin' %}
{% endif %}


<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            
            {% if user.role_data.access_level >= 50 %}
                <li>
                    <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Admin Dashboard<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                    {%if user.role_data.access_level >= 1000 %} 
                        <li><a href="/super_admin/init_config_form">Initialize HTML Form</a></li>
                        <li><a href="/super_admin/config_form">HTML Form Configuration</a></li>
                        <li><a href="/super_admin/init_postal">Initialize Singapore Postal</a></li>
                        <li class="nav-divider"></li>
                        <li><a href="/super_admin/user_role">Manage User Role</a></li>        
                        <li><a href="/super_admin/users">Manage Users</a></li>
                        <li class="nav-divider"></li>
                    {% endif %}
                        
                    {%if user.role_data.access_level >= 500 %} 
                        <li><a href="/sys_admin/price_plan">Manage Price Plan</a></li>
                         <li><a href="#">Business Group
                             <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-third-level">
                                <li><a href="/sys_admin/activate_group">Activate Business Group</a></li>
                                <li><a href="/sys_admin/business_group">Manage Business Group</a></li>
                             </ul>
                            <li>
                        <li class="nav-divider"></li>
                    {% endif %}
                        
                    {%if user.role_data.access_level == 500 %}     
                        <li><a href="/sys_admin/users">Manage Users</a></li>
                        <li class="nav-divider"></li>
                    {% endif %}
                        
                    {%if user.role_data.access_level == 100 %}     
                        <li><a href="/group_admin/business_team">Manage Business Team</a></li>
                        <li><a href="/group_admin/users">Manage Group Users</a></li>
                        <li><a href="/group_admin/business_group">Manage Group Profile</a></li>
                    {% endif %}
                        
                    {%if user.role_data.access_level == 50 %}
                        <li><a href="/team_admin/users">Manage Team Users</a></li>
                    {% endif %}
                    </ul>
                </li>
                <li>
                    {%if user.role_data.access_level >= 500 %} 
                        <a href="/sys_admin/audit_log"><i class="fa fa-history fa-fw"></i> Audit Log</a>
                    {% elif user.role_data.access_level >= 50 %}
                        <a href="{{user_url}}/audit_log"><i class="fa fa-history fa-fw"></i> Audit Log</a>
                    {% endif %}
                </li>
            {% endif %}
             {%if (user.teams_in_group and user.role_data.access_level == 100) %}
             <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <!-- <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
	                    <button class="btn btn-default" type="button">
	                    	<i class="fa fa-search"></i>
	                    </button>
                    </span>
                    -->
                        <h4>For Team Operation</h4>
                        <select id= "simulated_team" name="simulated_team" onchange="set_fake_team_cookie.call(this)">
                            {% for field in user.teams_in_group %}
                            <option value ="{{field._entity_id}}"> {{field.text}}</option>                             {% endfor %}
                        </select>
                    <!--<button type="button" class="btn btn-info" 
                            onclick="location.reload()" >Change Simulated Team</button>
                    -->
                                        
                </div>
                <!-- /input-group -->
            </li>
            {% endif %}
            {%if ((user.role_data.access_level >= 10) and (user.role_data.access_level < 100)) or (user.role_data.access_level == 100 and user.teams_in_group) %}
            <li>
                <a href=""><i class="fa fa-cog fa-fw"></i> Setting
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a href="/team_user/set/area">Area </a></li>
                     <li><a href="">Depot
                        <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-third-level">
                            <li><a href="/team_user/set/depot">Depot Station</a></li>
                            <li><a href="/team_user/set/depot_template">Depot Template</a></li>
                        </ul>
                    </li>                    
                    <li><a href="">Vehicle
                        <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-third-level">
                            <li><a href="/team_user/set/vehicle_type">Vehicle Type</a></li>
                            <li><a href="/team_user/set/vehicle_type_template">Vehicle Template</a></li>
                        </ul>
                    </li>
                    <li><a href="">Driver
                         <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-third-level">
                            <li><a href="/team_user/set/driver">Driver</a></li>
                            <li><a href="/team_user/set/driver_template">Driver Template</a></li>
                        </ul>
                    </li>
                    {% if (user.role_data.access_level >= 50) %}
                    <li>
                        <a href="/team_admin/set/client_account"></i>Client Account</a>
                    </li>
                    <li><a href="/team_user/set/address">Customer Address</a></li>        
                    {% endif %}

                                      
                </ul>
    
            </li>
            {% if 'Booking' in user.plan_data.plan_modules %}
            <li>
                <a href=""><i class="fa fa-phone fa-fw"></i> Booking </a>
            </li>   
            {% endif %}

            {% if 'Planning' in user.plan_data.plan_modules %}
            <li>
                <a href=""><i class="fa fa-tasks fa-fw"></i> Planning 
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a href="/team_user/plan/task">Task</a></li>
                    <li><a href="/team_user/plan/route_plan">Route Plan</a></li>
                </ul>
            </li>
            {% endif %}

            {% if 'Tracking' in user.plan_data.plan_modules %}
            <li>
                <a href=""><i class="fa fa-clock-o fa-fw"></i> Tracking </a>
                <ul class="nav nav-second-level">
                    <li><a href="/team_user/track/task">Task</a></li>
                </ul>                
            </li>
            {% endif %}
            <li>
                <a href=""><i class="fa fa-bar-chart fa-fw"></i> Analyzing<span class="fa arrow"></span></a>
            </li>

            {% endif %}
                
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->