<div class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			<li class="sidebar-search">
				<div class="input-group custom-search-form">
                	<input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
	                    <button class="btn btn-default" type="button">
	                    	<i class="fa fa-search"></i>
	                    </button>
                    </span>
				</div>
				<!-- /input-group -->
			</li>
			
			<li>
				<a href="index.html"><i class="fa fa-bar-chart fa-fw"></i> Your Existing Route<span class="fa arrow"></span></a>
				 <ul class="nav nav-second-level">
				 	<li><a href="upload_route"><i class="fa fa-upload fa-fw"></i>Upload</a></li>
				 	<li><a href="analyze_route"><i class="fa fa-map-marker fa-fw"></i>Analyze</a></li>
				 </ul>
			</li>
			<li>
				<a href="index.html"><i class="fa fa-truck fa-fw"></i> Fleet </a>
			</li>
			<li>
				<a href="index.html"><i class="fa fa-home fa-fw"></i> Location </a>
			</li>
			<li>
				<a href="index.html"><i class="fa fa-tasks fa-fw"></i> Plan </a>
			</li>
			<li>
				<a href="index.html"><i class="fa fa-phone fa-fw"></i> Booking </a>
			</li>			
			<li>
				<a href="index.html"><i class="fa fa-clock-o fa-fw"></i> Track </a>
			</li>
		</ul>
	</div>
	<!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->