<!--<div class="span7 text-center">
    <a href="/" rel="nofollow" title="Online Route Planning">
        <img src="/img/logo1.png" alt="My Best Route" style="max-width:300px;">
    </a>
</div>-->

<div class="navbar-header">
   	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
       	<span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    
    {% if user.user_name %}
        <li><a class="navbar-brand">{{user.group_data.business_name}}</a></li>
        <!--<li><a class="navbar-brand"> Team[{{user.team_name}}]</a></li>-->
    {% endif %}  
    
    <!--<a class="navbar-brand" href="index.html">Route Planner Prototype</a>-->
</div>
<!-- /.navbar-header -->
<div class="collapse navbar-collapse">
    <!-- {%if (user.teams_in_group and user.role_data.access_level >= 100) %}
        <form class="navbar-form navbar-nav">
           <select id= "simulated_team" name="simulated_team" onchange="set_fake_team_cookie.call(this)">
            {% for field in user.teams_in_group %}
                <option value ="{{field._entity_id}}"> {{field.text}}</option>
            {% endfor %}
            </select>
            <button  type="button" class="btn btn-info" onclick="location.reload()" >Change Team</button>
        </form>
    {% endif %}
    -->
    
    <!-- {%if (user.teams_in_group and user.role_data.access_level >= 100) %}
    <ul class="nav navbar-nav">
        <div class="dropdown">
             <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" >
                 Simulated Team
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                {% for field in user.teams_in_group %}
                    <li><a href ="#" class='set_fake_team' team_id="{{field._entity_id}}">{{field.text}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </ul>
    {% endif %}
    -->
    
    <ul class="masthead nav navbar-top-links navbar-right">
        {% if user.user_name %}
            <li>Welcome <b>{{user.user_name}}</b>( <b>{{user.role_data.role_name}}</b>
                {% if user.team_data != None %}
                , Team:<b>{{user.team_data.team_name}}</b>
                {% endif %}
            )</li>
        {% endif %}
        {% if user.user_name %}
             <li><a href="/home" data-toggle="tooltip" title="Home Page"><i class="fa fa-home"></i></a></li>
        {% endif %}
        <li><a href="" data-toggle="tooltip" title="Contact Us"><i class="fa fa-envelope-o"></i></a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                {% if user.user_name %}
                    <li><a href="/team_user/user_profile" ><i class="fa fa-user fa-fw"></i> User Profile</a></li>
                    <li><a href="/team_user/change_password" ><i class="fa fa-key fa-fw"></i> Change Password</a></li>
                    {% if user.role_data.access_level == 1 %}
                        <li><a href="/team_user/change_priceplan"><i class="fa fa-credit-card fa-fw"></i> Ugrade Price Plan</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="/auth/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                {% else %}
                    <li><a href="" data-toggle="modal" data-target="#login_modal"><i class="fa fa-sign-in fa-fw"></i> Login</a></li>
                    <li class="divider"></li>
                    <li><a href="" data-toggle="modal" data-target="#signup_modal"><i class="fa fa-user-plus fa-fw"></i>  Sign up</a></li>
                {% endif %}
            </ul>
            <!-- /.dropdown-user -->
        </li>
    <!-- /.dropdown -->
    </ul>
</div>