<div id="routeDataPanel" class="panel panel-info" style="display: none;">
    <div class="panel-heading">
        <h2 class="text-center">Display Data</h2>
    </div>
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="routeTable">
            </table>
            <!-- /.table-responsive -->
        </div>
        <!-- /.dataTable_wrapper -->
    </div>
    <!-- /.panel-body -->
</div>
<!-- class="panel" -->