<div id="task_map_modal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <h3>Press Shift + Mouse Drap: change the "selected" status of the task.</h3>
                <div id="osm_task_map" class="olMap"></div>
                
                <input class="btn  btn-lg btn-success col-md-4 col-md-offset-4" type="button" value="Confirm" data-dismiss="modal">

            </div>

        </div>
        <div class="modal-footer">
        </div>

    </div>
</div>
