{% extends 'base.html' %} {% block page_block %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2>Home Page</h2>
                </div>
                <div class="panel-body">
                    {% if homepage.new_group_num is defined %} 
                        {% include 'home_new_group.html' %} 
                    {% endif %}
                    {% if homepage.new_plan_num is defined %} 
                        {% include 'home_new_plan.html' %} 
                    {% endif %} 
                    {% if homepage.new_user_num is defined %} 
                        {% include 'home_new_user.html' %} 
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}