{% extends 'base_map_dataTables.html' %} 
{% block add_css_block %}
    {% include "dualbox_css.html" %}
{% endblock %}
{% block page_block %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2>{{ form.header }}<h2>
                </div>
                <div class="panel-body">
                        
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="CURDTable">
                        </table>
                        <!-- /.table-responsive -->                                
                    </div>
                            <!-- /.dataTable_wrapper -->                            
                    {% include "create_plan_modal.html" %}
                    {% include "edit_plan_modal.html" %}
                    {% include "task_map_modal.html" %}
                        
                    
                    <input type='hidden' value='{{form.action}}' id='tb_ajax_url'>
                    <input type='hidden' value='{{form.tb_buttons}}' id='tb_buttons'>
                    <input type='hidden' value='{{form.tb_buttons}}' id='top_buttons'>
                    <input type='hidden' value='{{form.user_channel}}' id='user_channel'>
                    <input type='hidden' value='{{form.ajax_search_url}}' id='ajax_search_url'>
                    <input type='hidden' value='{{form.ajax_search_get_fields}}' id='ajax_search_get_fields'>   
                    <input type='hidden' value='{{form.ajax_search_set_fields}}' id='ajax_search_set_fields'>                   

                    <input type='hidden' value='{{form.template_search_url}}' id='template_search_url'>
                    <input type='hidden' value='{{form.template_search_get_fields}}' id='template_search_get_fields'>   
                    <input type='hidden' value='{{form.template_search_set_fields}}' id='template_search_set_fields'>                        
                </div>
                <!-- /.panel-body -->

                {% include 'dndexcel_modal.html' %}
                {% include "upload_task_modal.html" %}
                <div class="load_icon"><!-- Place at bottom of page --></div>    
            </div>
            <!-- class="panel" -->
        </div>
         <!--class="col-lg-12" -->
    </div>
    <!-- /.row -->            
</div>
<!--/.container-fluid-->
{% endblock %} 

{% block javascript_block %}
        
        {%include "dualbox_js.html" %}

<script>
    function init_page() {
        init_crud_page();
        var $doc = $(document);
        $body = $("body");
        var tb_params = {};
        tb_params.create_modal_id = "#create_modal"
        tb_params.edit_modal_id = "#edit_modal";
        tb_params.tb_id = "#CURDTable";
        tb_params.ajax = $("#tb_ajax_url").val();
        tb_params.dt_source = $("#dt_source").val();
        tb_params.dnd_id = "#dndPanel";
        $(tb_params.dnd_id).show();



        var pageVar = {};
        var upload_modal_id = "#upload_modal";
        
        //Add the DualBoxList to Select Mulitple
        $('select').filter('[name="driver_set"]').
        bootstrapDualListbox({
            nonSelectedListLabel: 'Non-selected Drivers',
            selectedListLabel: 'Selected Drivers',
            preserveSelectionOnMove: 'moved',
            moveOnSelect: false,});
        
        $('select').filter('[name="task_set"]').
        bootstrapDualListbox({
            nonSelectedListLabel: 'Non-selected Tasks',
            selectedListLabel: 'Selected Tasks',
            preserveSelectionOnMove: 'moved',
            moveOnSelect: false,});        
        
        var $current_upload_form, task_set_field_list;
        var task_set_id = "#task_set";
        
        //Identify the 
        $(".upload_task_set").click(function(){
            $current_upload_form = $(this).parents('form');
            $("#dndexcel_modal").modal('show');
        });
        
        
        task_set_field_list = [];
        task_set_field_list.push($(tb_params.create_modal_id).find(task_set_id));
        task_set_field_list.push($(tb_params.edit_modal_id).find(task_set_id));
        //print_obj(task_set_field_list);
        
        $doc.off('process_wb:stop');
        
        $doc.on({
            'process_wb:stop': function(e, upload_data){
                var required_fields = $("#upload_modal :input[required]");
                console.log("start uploading!");
                var validated = true;

                required_fields.each(function (){
                    var val = $(this).val();
                    console.log($(this).attr('id') + ":" + val);
                    if ((val == null) || (val == "")){
                        validated = false;
                        return;
                    }
                });
                
                if (validated == true) {
                
                    $(upload_modal_id).modal('hide');
                    var ajax_data = {
                        formType: 'async_upload', 
                        upload_data: upload_data,        
                    };
                    var posting = $.post("/team_user/plan/task", ajax_data);
                
                    //Reset the options field after upload finished. 
                    posting.done(function(data)
                    {
                        if (data.status === true) {
                            if (data.message) {
                                bootbox.alert(data.message, function(){
                                    $(upload_modal_id).modal('hide');
                                    $("#dndexcel_modal").modal('hide');
                        
                                    //Ajax to retrieve all the task
                                    var post_data = {formType: 'async_query_all_json'}
                            
                                    var posting =$.post('/team_user/plan/task', post_data);

                                    var all_task;
                                    var current_task_set_field=$current_upload_form.find(task_set_id);

                                    posting.done(function(data){
                                        all_task = data.data;
                                        upload_data = JSON.parse(upload_data);
                                        refresh_task_set_options(upload_data,
                                            all_task,
                                            task_set_field_list);
                                    });                                  
                                });
                            }
                        }
                    else {
                        bootbox.alert(data.message);
                        }
                    });
                }
                else {
                    bootbox.alert("Please choose a column for all the required fields!");
                    }
                },
        });
        

        var map_opts = {
            div_id: "osm_task_map",
            center: [1.365629, 103.810896],
            zoom: 12,
        };
        
        /*$("body").on("shown.bs.tab", "#show_task_map", function() {
            var map = create_osmap(map_opts);
            map.invalidateSize(false);
        });*/
        
        $(".map_task_set").click(function(){
            //Create the map
            var map = create_osmap(map_opts);
            $("#task_map_modal").modal('show');
            map.invalidateSize(false);
            
            //Get the current form
            $current_form = $(this).parents('form');
            
            //Get the task field
            var task_set_field = $current_form.find(task_set_id);
            
            //Get the tasks selected status
            var task_status = {};
            $current_form.find(task_set_id+" option").each(function(name, val){
                var entity_id = $(this).val();
                task_status[entity_id] = $(this).prop('selected');
            });

            //Get all the tasks
            var post_data = {formType: 'async_query_all_json'}
            var posting = $.post('/team_user/plan/task', post_data);
            var all_task;
            
            posting.done(function(data){
                all_task = data.data;
                print_obj(data);

                map.on("boxzoomend", function(zoom_event){
                /*
                 For all the markers within the box
                 1. Change the icon
                 2. Change the options 'selected' status
                */
                
                for (var idx=0; idx<all_task.length; idx++){
                    var this_task = all_task[idx];
                    if (zoom_event.boxZoomBounds.contains(this_task.latlng)) {
                        this_task.selected = !this_task.selected;
                        var task_icon = create_task_icon(this_task.selected);
                        this_task.marker.setIcon(task_icon);
                        var entity_id = this_task._entity_id;
                        var sel_query = "option[value='"+entity_id+"']";
                        task_set_field.find(sel_query).prop('selected', this_task.selected);
                        }
                    task_set_field.bootstrapDualListbox('refresh')
                    }
                });
                       
                /*
                    For each task:
                    1. Get the 'selected' status
                    2. Create icon
                    3. Add the marker to the map
                */
                for (var idx=0; idx<all_task.length; idx++){
                    var each_task = all_task[idx];
                    var entity_id = each_task._entity_id;
                    var task_latlng = each_task.latlng;
                    var task_selected = task_status[entity_id];
                    var task_icon = create_task_icon(task_selected);
                    //console.log("latlng: " + task_latlng + " task_selected: " + task_selected);
                    //console.log(jQuery.type(task_latlng));
                    all_task[idx].marker = L.marker(task_latlng, {icon: task_icon}).addTo(map);
                    all_task[idx].selected = task_selected;
                }
            });
        });
    }

    window.onload = init_page;
</script>
        
{% endblock %} 